<section class="container">
    <div class="list">
        <div class="list__wrapper">
            <mat-card class="list__item" *ngFor="let item of listData" (click)="onMoveToItem(item)">
                <span class="image">
                    <img src="{{item.image_url}}" alt="Photo of a beer">
                </span>
                <mat-card-content>
                    <h4>{{item.name}}</h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="paginator">
        <mat-paginator 
            [length]="listLength"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="changePageOptions($event)"
            aria-label="Select page">
        </mat-paginator>
    </div>
</section>
