<section class="container">
    <div class="pre-header">
        <div class="pre-header__serach">
            <mat-form-field class="input" appearance="fill">
                <mat-label>Search by name</mat-label>
                <input matInput type="text" [(ngModel)]="searchString">
                <button class="close" *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">X</button>
            </mat-form-field>
            <button class="button" (click)="onSearchItem()">Search</button>
        </div>
        <div class="pre-header__datePicker">
            <mat-form-field appearance="fill">
                <mat-label>Filter by brewed before</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="timeSelection">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="list">
        <div class="list__wrapper">
            <mat-card class="list__item" *ngFor="let item of listData" (click)="onMoveToItem(item)">
                <span class="image">
                    <img src="{{item.image_url}}" alt="Photo of a beer">
                </span>
                <mat-card-content>
                    <h4>{{item.name}}</h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="paginator">
        <mat-paginator 
            [length]="listLength"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="changePageOptions($event)"
            aria-label="Select page">
        </mat-paginator>
    </div>
</section>
