<section class="container">
  <div class="redirect">
    <mat-card>
      <mat-card-title class="title">
        WANT A BEER TO HANGOUT WITH Your FRIENDS?
      </mat-card-title>
      <mat-card-subtitle class="subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</mat-card-subtitle>
      <button mat-raised-button color="primary" [routerLink]="['./beers']">Cheers!</button>
    </mat-card>
  </div>
</section>
    