.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
    padding: 20px;
    background-image: url('./../../assets/images/beer-banner.jpg');
    background-position: center center;
    background-size: cover;
    .redirect {
        max-width: 525px;
        text-align: center;
        background-color: #fefefe;
        .title {
            font-size: 2rem;
            margin-bottom: 20px;
            line-height: 40px;
            font-weight: 600;
        }
        .subtitle {

        }
    }
}


